* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Fraunces';
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.first-section__inner__background {
	position: absolute;
}

.firsr-section__inner__content {
	position: relative;
	left: 85px;
	top: 130px;
	color: #fefcf7;
}

.first-section__inner__content__title {
	font-size: 72px;
}

.first-section__inner__content__desc {
	font-size: 16px;
	max-width: 445px;
	line-height: 26px;
	margin-top: -30px;
}

.last-section__inner {
	background-color: #2c343e;
	border-radius: 10px;
	height: 750px;
}

.last-section__inner__line__title {
	margin-top: 400px;
	color: #83888f;
	font-size: 24px;
}

.last-section__inner__line {
	display: flex;
	align-items: center;
	margin-left: 85px;
	padding-top: 100px;
}

.last-section__inner__line__oval {
	display: block;
	width: 31px;
	height: 31px;
	border: 2px solid #0e8784;
	border-radius: 50%;
	background-color: transparent;
}

.last-section__inner__line__line {
	display: block;
	width: 350px;
	height: 2px;
	border: 2px solid #fdd6ba;
}

.last-section__inner__cards-wrapper {
	display: flex;
	gap: 100px;
	margin-left: 85px;
}

.last-section__inner__cards-wrapper__card__number {
	font-size: 70px;
	color: #fdd6ba;
	font-weight: 900;
}

.last-section__inner__cards-wrapper__card__title {
	max-width: 255px;
	font-size: 36px;
	color: #fefcf7;
}

.last-section__inner__cards-wrapper__card__desc {
	max-width: 300px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #fefcf7;
}

.last-section__inner__button-wrapper__button {
	text-decoration: none;
	background-color: #0e8784;
	color: #fefcf7;
	padding: 15px 30px;
	border-radius: 6px;
	margin-left: 85px;
}

.last-section__inner__button-wrapper {
	margin-top: 65px;
}

.table {
	position: sticky;
	margin-top: 165px;
}

.table ul li {
	list-style-type: none;
	margin-bottom: 50px;
	border-bottom: 1 px solid black;
}

.table ul a {
	text-decoration: none;
	font-size: 24px;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.coffe-label-box {
	display: inline-block;
	margin-right: 10px;
	padding: 10px 20px;
	border: 1px solid black;
	transition: 0.3s ease;
}

.form-inner input[type='radio']:checked + .coffee-label-box {
	background-color: black;
	color: white;
}
