@import "./blocks/critical";
@import "./blocks/container";
@import "./blocks/header";
@import "./blocks/hero-section__inner";
@import "./blocks/our-collection";
@import "./blocks/why-choose-us";
@import "./blocks/how-it-work";
@import "./blocks/footer";