.about-us-bg__img {
    position: absolute;
    border-radius: 10px ;
}

.header-section__content {
    position: relative;
    color: #FEFCF7;
    transform: translate(85px,135px),
}

.header-section__content__title {
    font-size: 40px;
    margin-bottom: -10px;
}

.header-section__content__desc {
    font-size: 16px;
    max-width: 445px;
    opacity: 0.6;
}