.create-a-plan__inner__background {
    position: absolute;
}

.create-a-plan__inner__content {
    position: relative;   
    left: 86px;
    top: 130px;
}



.create-a-plan__inner__content__title {
    font-size: 72px;
    color: $primary-color;
    margin-bottom: -10px;
}

.create-a-plan__inner__content__desc {
    font-size: 16px;
    color: $primary-color;
    max-width: 445px;
    opacity: 0.6;
    line-height: 26px;
}