
.main-footer__inner {
    display: flex;
    align-items: center;
    background-color: #2C343E;
    margin-top: 200px;
}

.main-footer__inner__nav {
    ul {
        list-style-type: none;
        display: flex;
        gap: 30px;
    }

    a {
        text-decoration: none;
        color: #83888F;
    }
}

.main-footer__inner__logo {
    padding: 50px 115px;
}

.main-footer__inner__apps {
    margin-left: 250px;
}