.how-it-work__inner {
    margin-top: 850px;
}

.how-it-work__inner__title {
    color: #83888F;
    font-size: 24px;
}

.how-it-work__innner__lines-wrapper {
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.how-it-work__innner__lines-wrapper__oval {
    display: block;
    border: 1px solid #0E8784;
    border-radius: 50%;
    width: 31px;
    height: 31px;
}

.how-it-work__innner__lines-wrapper__line {
    display: block;
    border: 1px solid #FDD6BA;
    width: 370px;
    height: 0;
}

.how-it-work__inner__cards-wrapper {
    display: flex;
    gap: 100px;
}

.how-it-work__inner__cards-wrapper__card__number {
    color: #FDD6BA;
    font-size: 72px;
}

.how-it-work__inner__cards-wrapper__card__title {
    color: #333D4B;
    font-size: 32px;
    max-width: 255px;
}

.how-it-work__inner__cards-wrapper__card__desc {
    font-size: 16px;
    line-height: 26px;
    max-width: 285px;
    color: #333D4B;
}