.second-section__inner__bg {
    position: absolute;
    margin-left: 80px;
}

.second-section__inner__cards-wrapper {
    display: flex;
    padding-top: 150px;
    padding-left: 70px;
    gap: 30px;
}

.second-section__inner__cards-wrapper__card {
    text-align: center;
    align-items: center;
}

.second-section__inner__cards-wrapper__card__title {
    color: #333D4B;
    font-size: 24px;
}

.second-section__inner__cards-wrapper__card__desc {
    color: #333D4B;
    max-width: 255px;
    line-height: 26px;
    font-size: 16px;
}